<nav>
    <div class="navbar">
       <a class="nav-link" href="#">Your Groups</a>
       <a class="nav-link" href="#">Home</a>
       <a class="nav-link" href="#">Contact</a>
       <a class="nav-link" href="#">About Us</a>
       <a class="nav-link" href="/signup">Signup</a>
       <a class="nav-link" href="/login">Login</a>
    </div>
</nav>