<%- layout('./layouts/boilerplate.ejs') %>
<body>
    <form action="/trip" method="POST">
        <div class="">
            <label for="tripName">Trip Name: </label>
            <input id="tripName" name="title" type="text">
        </div>
        <div class="participants">
            <label for="participant-1">Group Member-1: </label>
            <input id="participant-1" name="participants[]" type="text">
        </div>
        <button type="button" class="member">Add Member</button>
        <button type="submit">Add</button>
    </form>

    <script>
        let memberBtn = document.querySelector('.member')
        let participants = document.querySelector('.participants')
        
        let participantCount = 1;
        memberBtn.addEventListener('click',() => {
            participantCount++;

            let inputDiv = document.createElement('div')
            inputDiv.className = 'participants'

            inputDiv.innerHTML = `
                 <label for="participant-${participantCount}">Group Member- ${participantCount}:</label>
                 <input type="text" id="participant-${participantCount}" name="participants[]" placeholder="Enter participant name" required>
            `

            participants.appendChild(inputDiv)
            console.log('field added');
            
        })
    </script>
</body>
